<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Login</title>
</head>

<body>
  <% include ./header %>

  <div class="container mt-3">
    <form action="/category" method="POST" enctype="multipart/form-data">
        카테고리 이름 : <input type="text" name="name""/><br/>
        <button type="submit">등록</button>
    </form>
  </div>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->

</body>

</html




