<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Login</title>
</head>

<body>
  <% include ./header %>

  <div class="container mt-3">

      <div class="input-group">
      <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">Category</button>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#">손그림</a>
        <a class="dropdown-item" href="#">컴그림</a>
        <a class="dropdown-item" href="#">습작</a>
      </div>
    </div>


    <div class="card-group mt-2">
      <div class="card">
        <img class="card-img-top" src="/images/example.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">습작</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
            content. This content is a little bit longer.</p>
        </div>
        <div class="card-footer">
          <small class="text-muted">Last updated 3 mins ago</small>
        </div>
      </div>
      <div class="card ml-1">
        <img class="card-img-top" src="/images/example.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
        </div>
        <div class="card-footer">
          <small class="text-muted">Last updated 3 mins ago</small>
        </div>
      </div>
      <div class="card ml-1">
        <img class="card-img-top" src="/images/example.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
            content. This card has even longer content than the first to show that equal height action.</p>
        </div>
        <div class="card-footer">
          <small class="text-muted">Last updated 3 mins ago</small>
        </div>
      </div>
    </div>
  </div>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->

</body>

</html