<form action="/posts/" method="POST" enctype="multipart/form-data">
    제목 : <input type="text" name="title"/><br/>
    내용 : <input type="text" name="contents"/><br/>
    작업시간 : <input type="text" name="workingtime"/><br/> 분
    첨부파일 <input type="file" name="attachment"/><br/>
    <button type="submit">등록</button>
</form>